/.history
/config/api_list.py
/.vscode
/__pycache__
/config/__pycache__
/downloaded_files
/extensions/*
/user_data_dir/*
/airdrop.py
/transact_abidecode.py

/modules/__pycache__
/.pytest_cache

/archived_logs

/latest_logs

/modules/request_interceptorv2.py
/SeleniumBase
