/.history
/config/api_list.py
/.vscode
/__pycache__
/config/__pycache__
/downloaded_files
/extensions/*
/user_data_dir/*
/airdrop.py
/transact_abidecode.py
/activity_monitor.py
/modules/__pycache__
/.pytest_cache

/archived_logs

/latest_logs
/data/events.json
/modules/request_interceptorv2.py
/SeleniumBase
/modules/activity_monitor.py
/modules/del.py
/modules/Untitled-1.py
/decoded_events.csv
/events.json
/twitterevents.json
/web3_readcalls.csv
/data/events.json

/data
